/* base style */

* {
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
/* ***************************************************** */
/* containing divs: body, mian, container, */

body {
    height: 100%;
    font-family: 'Oregano', cursive;
    background-color: #111;
    font-size: 10px;
    color: #fff;
}

.homepage main {
    min-height: 100vh;
    width: 90%;
    max-width: 800px;
    min-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-page .container {
    min-height: 100vh;
    width: 90%;
    max-width: 800px;
    min-width: 500px;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid red; */
}

/* format overlay */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
}
/* ***************************************************** */
/* elements of the homepage */
h1 {
    font-family: 'Rubik Mono One', sans-serif;
    text-transform: uppercase;
    display: block;
    font-size: 2.5rem;
    letter-spacing: 10px;
    /* margin-top: 20px; */
}

.author {
    letter-spacing: 2px;
    margin-top: 20px;
    font-size: 1.25rem;
}

.play-btn {
    background-color: #111;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    margin-top: 4rem;
}
/* ***************************************************** */
/* elements of the play page */

/* header */
header {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
}

/* the title*/
a {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    /* border: 1px solid red; */
}

/* the settings button */
.settings-btn {
    background-color: #111;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: white;
    /* border: 1px solid red; */
}

/* the settings container */
.settings-container, .end-game {
    width: 450px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    background-color: white;
    color: #111;
    display: none;
}

/* settings text */
h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}

/* format the close symbol */
.close {
    cursor: pointer;
    position: absolute;
    top: -5%;
    right: -5%;
    font-size: 3rem;
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* format the setting block */
.settings-block {
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: auto;
}

label,
input,
select {
    width: 50%;
    height: 50px;
    margin-left: 5%;
    text-align: left;
    font-size: 1rem;
    margin-top: 1rem;
}

input,
select {
    width: 35%;
    border: 1px solid #111;
    border-radius: 0.5rem;
    padding-left: 1rem;
    cursor: pointer;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ********************************************************** */
/* the game board and its elements */

.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.reset-btn {
    color: white;
    background-color: #111;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
}

.game-result {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.25rem;
    margin-top: 2rem;
}
/* format the table */
.table {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.table:hover{
    cursor: pointer;
}

/* format the square */
.square {
    border: 2px solid white;
    position: relative;
}

/* format token */
.token {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
}

/* ******************************************************* */

/* end game */
.end-game {
    width: 300px;
    height: 150px;
    padding: 2rem;
    font-size: 1.5rem;
}

/* format the continue button */
.end-game button {
    background-color: white;
    border: 1px solid #111;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
}

.end-game button:hover {
    cursor: pointer;
}
